body{
    background-color: grey;
}
#xbox{
    width: 100px;
    height: 100px;
    color:#6daf09;
    margin-top: 100px;
    margin-left: 200px;
}
#playstation{
    width: 80px;
    height: 130px;
    border-radius: 20%;
    color: black;
    margin-top: 300px;
    margin-left: 200px;
}
#nintendo{
    width: 100px;
    height: 50px;
    color: turquoise;
    margin-left: 800px;
}